* {
  background-color: rgb(155, 95, 228);
  text-align: center;
}

.title {
  text-align: center;
  font-size: 60px;
  font-family: cursive;
  color: rgb(5, 72, 163)
}

h2 {
  display: inline;
  font-size: 55px;
  color: rgb(255, 174, 0);
}

h3 {
  display: inline;
  font-size: 45px;
  color: maroon;
}

hr {
  border: 2px solid black;
}
