.container {
    max-width: 1920px;
    max-height: 1080px;
}

.topBar {
    background-color: black;
    height: 6.4%;
    margin: -0.81% -0.38%;
    opacity: 65%;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.TL {
    color: white;
    text-decoration: overline;
    margin: 0.4% 1.2%;
    display: inline;
    position: absolute;
    left: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: none;
    font-size: 1.5vw;
}

.hobbies {
    color: white;
    text-decoration: overline;
    margin: 0.4%;
    display: inline;
    position: absolute;
    left: 83%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: none;
    font-size: 1.5vw;
}

.webpages {
    color: white;
    text-decoration: overline;
    margin: 0.4%;
    display: inline;
    position: absolute;
    left: 91%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: none;
    font-size: 1.5vw;
}

.hobbiesLink {
    color: white;
    text-decoration: none;
    background: none;
}

.webpagesLink {
    color: white;
    text-decoration: none;
    background: none;
}

img {
    max-height: 1000px;
    min-height: 250px;
    max-width: 1500px;
    min-width: 380px;
    position: absolute;
    left: 23%;
    border: 5px solid gold;
    border-radius: 70px;
}

.imagecontainer {
    height: 80%;
    width: 60%;
    background-image: url(blur.png);
    position: absolute;
    left: 23%;
    border: 0.3em solid goldenrod;
    border-radius: 6.5%;
}

.imageText {
    text-align: center;
    position: absolute;
    top: 36%;
    left: 27%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3.8vw;
    color: black;
    opacity: 60%;
    background: none;
}

.hobbiesTitle {
    position: absolute;
    top: 87.5%;
    left: 47.5%;
    font-size: 3.2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: none;
}

.item1 {
    position: absolute;
    top: 100%;
    left: 25%;
    font-size: 2.3vw;
    font-family: monospace;
    background: none;
}

.item2 {
    position: absolute;
    top: 110%;
    left: 50%;
    font-size: 2.3vw;
    font-family: monospace;
    background: none;
}

.item3 {
    position: absolute;
    top: 120%;
    left: 48.5%;
    font-size: 2.3vw;
    font-family: monospace;
    background: none;
}

.item4 {
    position: absolute;
    top: 130%;
    left: 48.5%;
    font-size: 2.3vw;
    font-family: monospace;
    background: none;
}

.item5 {
    position: absolute;
    top: 140%;
    left: 46.5%;
    font-size: 2.3vw;
    font-family: monospace;
    background: none;
}

.webpagesTitle {
    position: absolute;
    top: 157%;
    left: 43%;
    font-size: 3.2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: none;
}

.webpage1 {
    position: absolute;
    top: 170%;
    left: 39%;
    font-size: 2.3vw;
    font-family: monospace;
    background: none;
}

.webpage2 {
    position: absolute;
    top: 180%;
    left: 38.5%;
    font-size: 2.3vw;
    font-family: monospace;
    background: none;
}

* {
    background-color: lightgoldenrodyellow;
}

#menu-container {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 320px) {

    /*Write your css here*/

}

@media screen and (max-width: 800px) {
}
