* {
  background-color: LavenderBlush;
}

h1{
  text-align: center;
}

label {
  font-weight: bold;
  font-size: 40px;
}

input {
  font-size: 40px;
  background-color: coral;
}

.title {
  font-weight: bold;
  font-size: 60px;
  font-family: cursive;
  color: LightCoral;
}

.submit {
  margin: 0 1100px;
}

.submit {
  width: 1000px;
  height: 50px;
  margin: 0 1100px;
}

.test {
  font-size: 80px;
  color: DodgerBlue;
  background-color: gold;
}

.text_random {
  font-family: sans-serif;
}

.random_text {
  font-family: sans-serif;
}

.random {
  color: red;
}

hr {
  border: 2px solid black;
}

.button {
    font-size: 24px;
    padding: 30px 10px;
    background-color: dodgerblue;
    font-weight: bold;
}

.button2 {
    font-size: 24px;
    padding: 30px 10px;
    background-color: dodgerblue;
    font-weight: bold;
}
